.donate-embed-container {
  width: 100%;
  padding: 60px 110px;
  text-align: center;
}

.donate-embed-container iframe {
  width: 550px;
}

.donate-card {
  padding: rem-calc(60 110);
  margin-top: rem-calc(48);
  margin-bottom: rem-calc(100);
}