$dropdown-container-padding-horizontal: rem-calc(20);
$dropdown-container-padding-top: rem-calc(7);
$dropdown-container-padding-bottom: rem-calc(18);

.hero-container .search-dropdown-position-container {
  display: none;
}

.home .hero-container .search-dropdown-position-container {
  display: block;
}

.search-dropdown-position-container {
  @include breakpoint(mobile) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $white;
    padding: rem-calc(18 $mobile-padding);
  }
}

.search-dropdown-tabs-container {
  position: absolute;
  bottom: calc(100% + 18px);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search-dropdown-tab {
  padding: rem-calc(12 45);
  background-color: $light-gray;
  border-radius: $global-radius $global-radius 0 0;
  box-shadow: inset 0 -8px 6px -9px rgba(0, 0, 0, .3);
}

.search-dropdown-tab.active {
  background-color: $white;
  box-shadow: none;
}

.find-kamp-button {
  @include breakpoint(mobile) {
    width: 100%;
  }
}

.find-kamp-button.disabled {
  pointer-events: none;
}

.kamp-search-dropdown-container {
  position: relative;
}

.kamp-search-dropdown-container h1,
.kamp-search-dropdown-container p {
  color: $kanakuk-blue-secondary;
}

.kamp-search-dropdown-trigger-container {
  width: 100%;
  background-color: $white;
  border-radius: $global-radius;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  flex-direction: row;

  @include breakpoint(mobile) {
    box-shadow: none !important;
  }
}

.type-dropdown-trigger-container {
  padding: $dropdown-container-padding-top $dropdown-container-padding-horizontal $dropdown-container-padding-bottom;
  width: calc(40% - #{rem-calc($dropdown-container-padding-horizontal)});
  border-right: 3px solid $light-gray;

  @include breakpoint(mobile) {
    display: none;
  }
}

.kampers-dropdown-trigger-container {
  padding: $dropdown-container-padding-top $dropdown-container-padding-horizontal $dropdown-container-padding-bottom;
  flex: 1;

  @include breakpoint(mobile) {
    box-shadow: none;
    border: 1px solid $medium-gray;
    border-radius: $global-radius;
  }
}

.kampers-dropdown-trigger-container.disabled {
  opacity: .5;
}

.kampers-dropdown-trigger-container.disabled .kampers-dropdown-text-container {
  pointer-events: none;
}

.kamp-type-dropdown-option-item {
  cursor: pointer;
  padding-bottom: rem-calc(10);
}

.dropdown-pane .kamp-type-dropdown-option-item {
  padding-bottom: 0;
}

.dropdown .is-dropdown-submenu .kamp-type-dropdown-option-item a {
  padding-top: rem-calc(10);
  padding-bottom: 0;
}

.type-dropdown-trigger-container .kamp-type-dropdown-menu.dropdown.menu>li.is-dropdown-submenu-parent {
  padding: 0;
}

.type-dropdown-trigger-container .kamp-type-dropdown-menu.dropdown.menu>li.is-dropdown-submenu-parent>a {
  padding: rem-calc(5 24 0 0);
  padding-right: rem-calc(24);
  font-size: rem-calc(18);
  color: $basic-gray;
  font-weight: bold;

  // &:after {
  //   color: $basic-gray;
  // }
}

.type-dropdown-trigger-container li.opens-right>ul.menu.submenu.is-dropdown-submenu.first-sub.vertical.kamp-type-dropdown-options-container {
  left: -20px;
  top: calc(100% + 30px);
}

.dropdown.menu .kamp-type-dropdown-option-item a,
.search-filter-option-container .dropdown-pane .kamp-type-dropdown-option-item a {
  color: $kanakuk-blue-secondary;
  font-size: rem-calc(16);
}

.kampers-dropdown-container.dropdown-pane {
  width: 100%;
  left: 0 !important;
  top: auto !important;
  margin-top: 5px;
  padding: 0;
}

.kampers-dropdown-text-container,
.type-dropdown-text-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kampers-dropdown-text-container .icon,
.type-dropdown-text-container .icon {
  font-size: 2.1875rem;
  margin-top: -4px;
}

// Kampers dropdown container

.kampers-children-selection-container {
  max-height: rem-calc(240);
  overflow: scroll;
  padding: rem-calc(14 50 10);
}

.kampers-children-count-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
}

.kampers-children-count-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kampers-children-count-counter .icon {
  cursor: pointer;
}

.kampers-children-grid-container {
  padding-top: rem-calc(16);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // border-top: 2px solid $light-gray;
}

.kampers-dropdown-done-container {
  border-top: 2px solid $light-gray;
}

.kampers-dropdown-done-container a {
  display: block;
  padding: rem-calc(10 15);
}

.kampers-children-added-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: rem-calc(50);
  margin-bottom: rem-calc(25);
}

.kampers-children-added-child:nth-child(3n) {
  margin-right: 0;
}

.kampers-children-age-input {
  padding-top: 0;
  padding-bottom: 0;
}

.kampers-dropdown-container .icon.disabled {
  pointer-events: none;
  opacity: .5;
}

.kampers-dropdown-existing-avatar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 8rem;
  padding: rem-calc(20);

  &:first-of-type {
    padding-left: 0;
  }
}

.kampers-selection-label {
  font-size: rem-calc(12) !important;
  color: $dark-gray;
}